*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root{
  /* == COLORS == */
  --color-bg: #004AC6;
  --color-bg-light: #f9f9ff;
  --color-bg-badge: rgba(0, 74, 198, 0.1);
  --color-border-badge: rgba(0, 74, 198, 0.2);
  --color-border-img: #fff;
  --color-btn: #2154C9;
  --color-btn-hover: #003796;
  --color-text: #fff;
  --color-text-blue: #004AC6;
  --color-text-blueII: #00174B;
  --color-text-gray: #64748b; 
  

  /* == FONT WEIGHT == */
  --font-weight-header: 700;
  --weight-btn-header: 400;

  /* == FONT FAMILY == */
  --font-primary: "Inter", sans-serif;
}

body{
  font-family: var(--font-primary) ;
  color: var(--color-text);
  background-color: var(--color-bg);
}